
.sidebar-toggle, .sidebar-toggle:hover, .sidebar-toggle:focus{ 
 background-image: linear-gradient(to top, #1b8ce2, #3499e9, #48a6f0, #5ab2f7, #6cbffd);
 border:none;
 padding:25px 15px 25px 15px; 
 outline:none; 
 cursor:pointer; 
 color:#fff; 
 margin:0;
}
.sidebar-toggle i{font-size:22px;}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #007bc5;
    color: #fff;
    transition: all 0.3s;
	z-index:7;
	padding-top: 75px;
	position: fixed;
	top: 0;
	bottom: 0;
}
.side_menu_header {
	font-size: 18px;
	padding: 10px 15px;
	text-transform: capitalize;
	font-weight: 400;
	background-color: rgba(0, 0, 0, 0.37);
	 /* background-image: linear-gradient(to top, #9acd6e, #92ca64, #8ac759, #82c44e, #7ac143); */
	/* background-image: linear-gradient(to top, #6cbffd, #5ab2f7, #48a6f0, #3499e9, #1b8ce2); */
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding:15px;
    background: #535456;
}

#sidebar ul.components {
    padding:0;
    border-bottom:none;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size:13px;
    display: block;
	color:#fff;
}
#sidebar ul li a i, ul ul a i {
    padding-right:5px !important;
}
#sidebar ul li a:hover {
    color: #fff;
    /* background: #004e7c; */
    background-color: rgba(0, 0, 0, 0.27);
}

#sidebar ul li.active>a,
#sidebar a[aria-expanded="true"] {
    color: #fff;
   /* background: #004e7c; */
    background-color: rgba(0, 0, 0, 0.27);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
	border:none;
}

#sidebar ul ul a {
    font-size: 12px!important;
    padding-left: 10px !important;
    /* background: #0074b9; */
    background-color: rgba(0, 0, 0, 0.10);
}
#sidebar ul ul a:hover {
	color:#fff;
    /* background: #1b61ae !important; */
    /* background:#00588b !important; */
    background-color: rgba(0, 0, 0, 0.20);
}

#sidebar ul.CTAs {
    padding: 20px;
}

#sidebar ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

#sidebar a.download {
    background: #fff;
    color: #1aa2a0;
}

#sidebar a.article,
#sidebar a.article:hover {
    background: #155295 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /*padding:0px;
    min-height: 100vh;*/
    transition: all 0.3s;
}

.content-header {
    position: relative;
	margin:0 0 20px 0;
}
.content-header h1{font-size:24px; font-weight:400; margin:0; padding:0;}
.content-header > .breadcrumb {
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: absolute;
  top:0px;
  right: 10px;
  border-radius: 2px;
  font-weight:300;
  font-size:12px;
}
.content-header > .breadcrumb > li > a {
  color: #444;
  text-decoration: none;
  display: inline-block;
}
.content-header > .breadcrumb > li > a > .fa,
.content-header > .breadcrumb > li > a > .glyphicon,
.content-header > .breadcrumb > li > a > .ion {
  margin-right: 5px;
}
.content-header > .breadcrumb > li + li:before {
  content: '>\00a0';
}
.content-header > .breadcrumb-item.active {
    color: #777;
}


.content_box {
  position: relative;
  border-radius:0px;
  background: #ffffff;
  border: 1px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  min-height:50px;
}
.content_box .box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
   border-bottom: 1px solid #d2d6de;
}
.content_box .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
	color:#000;
}
.content_box .box-body {
  padding: 15px;
}
.box-footer {
  border-top: 1px solid #d2d6de;
  padding: 15px;
  background-color: #ffffff;
  border-radius:0px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
   /* #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }*/
}

.slideRight {
    padding-left: 250px !important;
}